---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Regular Program Private">
    <section class="bg-secondary text-white grid grid-cols-1 lg:grid-cols-2 gap-6 p-14">
        <div>
            <img
                src="/assets/hero_regular_private.png"
                alt="regular program private"
                class="rounded-[20px] mx-auto"
            >
        </div>
        <div class="flex justify-center items-center">
            <div class="space-y-4 text-center">
                <h1 class="font-bold font-playfair-display text-5xl">
                    Program Intensif & Privat untuk Profesional
                </h1>
                <p class="text-xl">
                    Kembangkan keahlian fashion design Anda dengan program eksklusif yang dirancang khusus untuk profesional yang ingin menguasai teknik tingkat lanjut
                </p>
                <div class="flex justify-center gap-4">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2034_275)">
                        <path d="M15 11.25L12.6855 8.93555C12.9727 8.19727 13.125 7.40039 13.125 6.5625C13.125 2.93555 10.1895 0 6.5625 0C2.93555 0 0 2.93555 0 6.5625C0 10.1895 2.93555 13.125 6.5625 13.125C7.40039 13.125 8.19727 12.9668 8.93555 12.6855L11.25 15L8.93555 17.3145C8.19727 17.0273 7.40039 16.875 6.5625 16.875C2.93555 16.875 0 19.8105 0 23.4375C0 27.0645 2.93555 30 6.5625 30C10.1895 30 13.125 27.0645 13.125 23.4375C13.125 22.5996 12.9668 21.8027 12.6855 21.0645L29.25 4.5C29.666 4.08398 29.666 3.41602 29.25 3C27.5918 1.3418 24.9082 1.3418 23.25 3L15 11.25ZM16.3242 20.0742L23.25 27C24.9082 28.6582 27.5918 28.6582 29.25 27C29.666 26.584 29.666 25.916 29.25 25.5L20.0742 16.3242L16.3242 20.0742ZM3.75 6.5625C3.75 6.19316 3.82275 5.82743 3.96409 5.4862C4.10543 5.14497 4.3126 4.83493 4.57376 4.57376C4.83493 4.3126 5.14497 4.10543 5.4862 3.96409C5.82743 3.82275 6.19316 3.75 6.5625 3.75C6.93184 3.75 7.29757 3.82275 7.6388 3.96409C7.98003 4.10543 8.29007 4.3126 8.55124 4.57376C8.8124 4.83493 9.01957 5.14497 9.16091 5.4862C9.30225 5.82743 9.375 6.19316 9.375 6.5625C9.375 6.93184 9.30225 7.29757 9.16091 7.6388C9.01957 7.98003 8.8124 8.29007 8.55124 8.55124C8.29007 8.8124 7.98003 9.01957 7.6388 9.16091C7.29757 9.30225 6.93184 9.375 6.5625 9.375C6.19316 9.375 5.82743 9.30225 5.4862 9.16091C5.14497 9.01957 4.83493 8.8124 4.57376 8.55124C4.3126 8.29007 4.10543 7.98003 3.96409 7.6388C3.82275 7.29757 3.75 6.93184 3.75 6.5625ZM6.5625 20.625C6.93184 20.625 7.29757 20.6977 7.6388 20.8391C7.98003 20.9804 8.29007 21.1876 8.55124 21.4488C8.8124 21.7099 9.01957 22.02 9.16091 22.3612C9.30225 22.7024 9.375 23.0682 9.375 23.4375C9.375 23.8068 9.30225 24.1726 9.16091 24.5138C9.01957 24.855 8.8124 25.1651 8.55124 25.4262C8.29007 25.6874 7.98003 25.8946 7.6388 26.0359C7.29757 26.1773 6.93184 26.25 6.5625 26.25C6.19316 26.25 5.82743 26.1773 5.4862 26.0359C5.14497 25.8946 4.83493 25.6874 4.57376 25.4262C4.3126 25.1651 4.10543 24.855 3.96409 24.5138C3.82275 24.1726 3.75 23.8068 3.75 23.4375C3.75 23.0682 3.82275 22.7024 3.96409 22.3612C4.10543 22.02 4.3126 21.7099 4.57376 21.4488C4.83493 21.1876 5.14497 20.9804 5.4862 20.8391C5.82743 20.6977 6.19316 20.625 6.5625 20.625Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2034_275">
                        <path d="M0 0H30V30H0V0Z" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2034_279)">
                        <path d="M12.4105 0C12.8675 0 13.2484 0.333984 13.389 0.773438C14.1097 3.04102 16.2367 4.6875 18.7503 4.6875C21.264 4.6875 23.391 3.04102 24.1117 0.773438C24.2523 0.333984 24.6331 0 25.0902 0H25.8285C27.1468 0 28.4183 0.462891 29.432 1.30664L36.8265 7.46484C37.2132 7.78711 37.4535 8.25586 37.4945 8.75977C37.5355 9.26367 37.3714 9.76172 37.0374 10.1426L33.7562 13.8926C33.0882 14.6602 31.9281 14.748 31.1429 14.0977L28.1253 11.584V26.25C28.1253 28.3184 26.4437 30 24.3753 30H13.1253C11.057 30 9.37533 28.3184 9.37533 26.25V11.584L6.35775 14.0977C5.57845 14.748 4.4183 14.6602 3.74447 13.8926L0.463219 10.1426C0.129235 9.76172 -0.0348277 9.26367 0.00618796 8.75977C0.0472036 8.25586 0.287438 7.78711 0.674157 7.46484L8.06869 1.30664C9.08236 0.462891 10.3538 0 11.6722 0H12.4105Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2034_279">
                        <path d="M0 0H37.5V30H0V0Z" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2034_283)">
                        <path d="M30 15C30 15.0527 30 15.1055 30 15.1582C29.9766 17.2969 28.0312 18.75 25.8926 18.75H20.1562C18.6035 18.75 17.3438 20.0098 17.3438 21.5625C17.3438 21.7617 17.3672 21.9551 17.4023 22.1426C17.5254 22.7402 17.7832 23.3145 18.0352 23.8945C18.3926 24.7031 18.7441 25.5059 18.7441 26.3555C18.7441 28.2188 17.4785 29.9121 15.6152 29.9883C15.4102 29.9941 15.2051 30 14.9941 30C6.71484 30 0 23.2852 0 15C0 6.71484 6.71484 0 15 0C23.2852 0 30 6.71484 30 15ZM7.5 16.875C7.5 16.3777 7.30246 15.9008 6.95083 15.5492C6.59919 15.1975 6.12228 15 5.625 15C5.12772 15 4.65081 15.1975 4.29917 15.5492C3.94754 15.9008 3.75 16.3777 3.75 16.875C3.75 17.3723 3.94754 17.8492 4.29917 18.2008C4.65081 18.5525 5.12772 18.75 5.625 18.75C6.12228 18.75 6.59919 18.5525 6.95083 18.2008C7.30246 17.8492 7.5 17.3723 7.5 16.875ZM7.5 11.25C7.99728 11.25 8.47419 11.0525 8.82582 10.7008C9.17746 10.3492 9.375 9.87228 9.375 9.375C9.375 8.87772 9.17746 8.40081 8.82582 8.04918C8.47419 7.69754 7.99728 7.5 7.5 7.5C7.00272 7.5 6.52581 7.69754 6.17417 8.04918C5.82254 8.40081 5.625 8.87772 5.625 9.375C5.625 9.87228 5.82254 10.3492 6.17417 10.7008C6.52581 11.0525 7.00272 11.25 7.5 11.25ZM16.875 5.625C16.875 5.12772 16.6775 4.65081 16.3258 4.29917C15.9742 3.94754 15.4973 3.75 15 3.75C14.5027 3.75 14.0258 3.94754 13.6742 4.29917C13.3225 4.65081 13.125 5.12772 13.125 5.625C13.125 6.12228 13.3225 6.59919 13.6742 6.95083C14.0258 7.30246 14.5027 7.5 15 7.5C15.4973 7.5 15.9742 7.30246 16.3258 6.95083C16.6775 6.59919 16.875 6.12228 16.875 5.625ZM22.5 11.25C22.9973 11.25 23.4742 11.0525 23.8258 10.7008C24.1775 10.3492 24.375 9.87228 24.375 9.375C24.375 8.87772 24.1775 8.40081 23.8258 8.04918C23.4742 7.69754 22.9973 7.5 22.5 7.5C22.0027 7.5 21.5258 7.69754 21.1742 8.04918C20.8225 8.40081 20.625 8.87772 20.625 9.375C20.625 9.87228 20.8225 10.3492 21.1742 10.7008C21.5258 11.0525 22.0027 11.25 22.5 11.25Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2034_283">
                        <path d="M0 0H30V30H0V0Z" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <section class="p-8">
        <div class="grid grid-cols-1 gap-14">
            <div class="ring-2 ring-secondary p-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="flex justify-center items-center">
                    <img
                        src="/assets/basic_program.png"
                        alt="basic program"
                        class="rounded-lg"
                    >
                </div>

                <div class="p-4 space-y-4">
                    <div class="flex gap-4 items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2034_293)">
                            <path d="M12 9L10.1484 7.14844C10.3781 6.55781 10.5 5.92031 10.5 5.25C10.5 2.34844 8.15156 0 5.25 0C2.34844 0 0 2.34844 0 5.25C0 8.15156 2.34844 10.5 5.25 10.5C5.92031 10.5 6.55781 10.3734 7.14844 10.1484L9 12L7.14844 13.8516C6.55781 13.6219 5.92031 13.5 5.25 13.5C2.34844 13.5 0 15.8484 0 18.75C0 21.6516 2.34844 24 5.25 24C8.15156 24 10.5 21.6516 10.5 18.75C10.5 18.0797 10.3734 17.4422 10.1484 16.8516L23.4 3.6C23.7328 3.26719 23.7328 2.73281 23.4 2.4C22.0734 1.07344 19.9266 1.07344 18.6 2.4L12 9ZM13.0594 16.0594L18.6 21.6C19.9266 22.9266 22.0734 22.9266 23.4 21.6C23.7328 21.2672 23.7328 20.7328 23.4 20.4L16.0594 13.0594L13.0594 16.0594ZM3 5.25C3 4.95453 3.0582 4.66194 3.17127 4.38896C3.28434 4.11598 3.45008 3.86794 3.65901 3.65901C3.86794 3.45008 4.11598 3.28434 4.38896 3.17127C4.66194 3.0582 4.95453 3 5.25 3C5.54547 3 5.83806 3.0582 6.11104 3.17127C6.38402 3.28434 6.63206 3.45008 6.84099 3.65901C7.04992 3.86794 7.21566 4.11598 7.32873 4.38896C7.4418 4.66194 7.5 4.95453 7.5 5.25C7.5 5.54547 7.4418 5.83806 7.32873 6.11104C7.21566 6.38402 7.04992 6.63206 6.84099 6.84099C6.63206 7.04992 6.38402 7.21566 6.11104 7.32873C5.83806 7.4418 5.54547 7.5 5.25 7.5C4.95453 7.5 4.66194 7.4418 4.38896 7.32873C4.11598 7.21566 3.86794 7.04992 3.65901 6.84099C3.45008 6.63206 3.28434 6.38402 3.17127 6.11104C3.0582 5.83806 3 5.54547 3 5.25ZM5.25 16.5C5.54547 16.5 5.83806 16.5582 6.11104 16.6713C6.38402 16.7843 6.63206 16.9501 6.84099 17.159C7.04992 17.3679 7.21566 17.616 7.32873 17.889C7.4418 18.1619 7.5 18.4545 7.5 18.75C7.5 19.0455 7.4418 19.3381 7.32873 19.611C7.21566 19.884 7.04992 20.1321 6.84099 20.341C6.63206 20.5499 6.38402 20.7157 6.11104 20.8287C5.83806 20.9418 5.54547 21 5.25 21C4.95453 21 4.66194 20.9418 4.38896 20.8287C4.11598 20.7157 3.86794 20.5499 3.65901 20.341C3.45008 20.1321 3.28434 19.884 3.17127 19.611C3.0582 19.3381 3 19.0455 3 18.75C3 18.4545 3.0582 18.1619 3.17127 17.889C3.28434 17.616 3.45008 17.3679 3.65901 17.159C3.86794 16.9501 4.11598 16.7843 4.38896 16.6713C4.66194 16.5582 4.95453 16.5 5.25 16.5Z" fill="#E8B4B8"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2034_293">
                            <path d="M0 0H24V24H0V0Z" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <h2 class="font-bold font-playfair-display text-3xl">Basic Program</h2>
                    </div>
                    <p class="text-lg text-muted">
                        Program fundamental untuk pemula yang ingin menguasai dasar- dasar fashion design. Mulai dari pembuatan pola hingga teknik jahit profesional dari nol.
                    </p>
                    <ul class="text-muted">
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Teknik Pola Dasar</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Jahit Manual & Mesin</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Finishing Profesional</span>
                        </li>
                    </ul>
                    <div class="flex justify-between">
                        <p class="font-bold text-3xl">
                            Rp 11.340.000
                        </p>
                        <a
                            href=""
                            class="block text-center py-2 px-6 text-white bg-linear-[90deg,#B76E79_0%,#F472B6_100%] rounded-full font-medium hover:shadow-lg transition-shadow"
                        >
                            Daftar Sekarang
                        </a>
                    </div>
                </div>
            </div>
            <div class="ring-2 ring-secondary p-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="flex justify-center items-center">
                    <img
                        src="/assets/gown.png"
                        alt="gown & couture"
                        class="rounded-lg"
                    >
                </div>

                <div class="p-4 space-y-4">
                    <div class="flex gap-4 items-center">
                        <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27 24H0V0H27V24Z" stroke="#E5E7EB"/>
                            <path d="M14.4844 4.96875C15.0188 4.64062 15.375 4.04531 15.375 3.375C15.375 2.33906 14.5359 1.5 13.5 1.5C12.4641 1.5 11.625 2.33906 11.625 3.375C11.625 4.05 11.9812 4.64062 12.5156 4.96875L9.82969 10.3406C9.40312 11.1938 8.29688 11.4375 7.55156 10.8422L3.375 7.5C3.60938 7.18594 3.75 6.79688 3.75 6.375C3.75 5.33906 2.91094 4.5 1.875 4.5C0.839062 4.5 0 5.33906 0 6.375C0 7.41094 0.839062 8.25 1.875 8.25C1.88437 8.25 1.89844 8.25 1.90781 8.25L4.05 20.0344C4.30781 21.4594 5.55 22.5 7.00312 22.5H19.9969C21.4453 22.5 22.6875 21.4641 22.95 20.0344L25.0922 8.25C25.1016 8.25 25.1156 8.25 25.125 8.25C26.1609 8.25 27 7.41094 27 6.375C27 5.33906 26.1609 4.5 25.125 4.5C24.0891 4.5 23.25 5.33906 23.25 6.375C23.25 6.79688 23.3906 7.18594 23.625 7.5L19.4484 10.8422C18.7031 11.4375 17.5969 11.1938 17.1703 10.3406L14.4844 4.96875Z" fill="#E8B4B8"/>
                        </svg>
                        <h2 class="font-bold font-playfair-display text-3xl">Gown & Couture</h2>
                    </div>
                    <p class="text-lg text-muted">
                        Kursus intensif 15x pertemuan khusus untuk menguasai pembuatan gaun pesta dan couture dengan teknik haute couture profesional.
                    </p>
                    <ul class="text-muted">
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Desain Gaun Pesta</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Teknik Couture</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Embellishment & Detailing</span>
                        </li>
                    </ul>
                    <div class="flex justify-between">
                        <p class="font-bold text-3xl">
                            Rp 11.340.000
                        </p>
                        <a
                            href=""
                            class="block text-center py-2 px-6 text-white bg-linear-[90deg,#B76E79_0%,#F472B6_100%] rounded-full font-medium hover:shadow-lg transition-shadow"
                        >
                            Daftar Sekarang
                        </a>
                    </div>
                </div>
            </div>
            <div class="ring-2 ring-secondary p-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="flex justify-center items-center">
                    <img
                        src="/assets/advance_programs.png"
                        alt="advance programs"
                        class="rounded-lg"
                    >
                </div>

                <div class="p-4 space-y-4">
                    <div class="flex gap-4 items-center">
                        <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2034_363)">
                            <path d="M10.5 12C8.9087 12 7.38258 11.3679 6.25736 10.2426C5.13214 9.11742 4.5 7.5913 4.5 6C4.5 4.4087 5.13214 2.88258 6.25736 1.75736C7.38258 0.632141 8.9087 0 10.5 0C12.0913 0 13.6174 0.632141 14.7426 1.75736C15.8679 2.88258 16.5 4.4087 16.5 6C16.5 7.5913 15.8679 9.11742 14.7426 10.2426C13.6174 11.3679 12.0913 12 10.5 12ZM9.80156 16.8375L8.92969 15.3844C8.62969 14.8828 8.99062 14.25 9.57187 14.25H10.5H11.4234C12.0047 14.25 12.3656 14.8875 12.0656 15.3844L11.1938 16.8375L12.7594 22.6453L14.4469 15.7594C14.5406 15.3797 14.9062 15.1312 15.2859 15.2297C18.5719 16.0547 21 19.0266 21 22.5609C21 23.3578 20.3531 24 19.5609 24H13.3828C13.2844 24 13.1953 23.9812 13.1109 23.9484L13.125 24H7.875L7.88906 23.9484C7.80469 23.9812 7.71094 24 7.61719 24H1.43906C0.646875 24 0 23.3531 0 22.5609C0 19.0219 2.43281 16.05 5.71406 15.2297C6.09375 15.1359 6.45938 15.3844 6.55313 15.7594L8.24063 22.6453L9.80625 16.8375H9.80156Z" fill="#E8B4B8"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2034_363">
                            <path d="M0 0H21V24H0V0Z" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <h2 class="font-bold font-playfair-display text-3xl">Advance Programs</h2>
                    </div>
                    <p class="text-lg text-muted">
                        Program lanjutan yang mencakup Bridal, Menswear, dan Formalwear dengan teknik tailoring rumit dan konstruksi garmen tingkat profesional.
                    </p>
                    <ul class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                        <li>
                            <div class="bg-primary flex justify-center items-center py-4 rounded-lg">
                                <div class="flex flex-col items-center gap-2">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 14H0V0H14V14Z" stroke="#E5E7EB"/>
                                        <path d="M1.75 5.6875C1.75 5.90078 1.87031 6.19883 2.21758 6.51602C3.45898 5.8543 5.16523 5.46875 7 5.46875C8.83477 5.46875 10.541 5.8543 11.7824 6.51602C12.1297 6.19883 12.25 5.90078 12.25 5.6875C12.25 5.35117 11.9547 4.8125 10.9402 4.30391C9.97773 3.82266 8.58594 3.5 7 3.5C5.41406 3.5 4.02227 3.82266 3.05977 4.30391C2.04531 4.8125 1.75 5.35117 1.75 5.6875ZM7 6.78125C5.71484 6.78125 4.5582 6.98906 3.63945 7.31992C4.54727 7.66172 5.70937 7.875 7 7.875C8.29062 7.875 9.45273 7.66172 10.3605 7.31992C9.4418 6.98906 8.28516 6.78125 7 6.78125ZM0 5.6875C0 4.33125 1.07734 3.34141 2.27773 2.73984C3.53008 2.11367 5.20352 1.75 7 1.75C8.79648 1.75 10.4699 2.11367 11.7223 2.73984C12.9227 3.34141 14 4.33125 14 5.6875V8.3125C14 9.66875 12.9227 10.6586 11.7223 11.2602C10.4699 11.8863 8.79648 12.25 7 12.25C5.20352 12.25 3.53008 11.8863 2.27773 11.2602C1.07734 10.6586 0 9.66875 0 8.3125V5.6875Z" fill="#E8B4B8"/>
                                    </svg>
                                    <p class="text-muted">Bridal</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="bg-primary flex justify-center items-center py-4 rounded-lg">
                                <div class="flex flex-col items-center gap-2">
                                    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2034_378)">
                                        <path d="M6.125 7C5.19674 7 4.3065 6.63125 3.65013 5.97487C2.99375 5.3185 2.625 4.42826 2.625 3.5C2.625 2.57174 2.99375 1.6815 3.65013 1.02513C4.3065 0.368749 5.19674 0 6.125 0C7.05326 0 7.9435 0.368749 8.59987 1.02513C9.25625 1.6815 9.625 2.57174 9.625 3.5C9.625 4.42826 9.25625 5.3185 8.59987 5.97487C7.9435 6.63125 7.05326 7 6.125 7ZM5.71758 9.82188L5.20898 8.97422C5.03398 8.68164 5.24453 8.3125 5.58359 8.3125H6.125H6.66367C7.00273 8.3125 7.21328 8.68438 7.03828 8.97422L6.52969 9.82188L7.44297 13.2098L8.42734 9.19297C8.48203 8.97149 8.69531 8.82656 8.9168 8.88398C10.8336 9.36523 12.25 11.0988 12.25 13.1605C12.25 13.6254 11.8727 14 11.4105 14H7.80664C7.74922 14 7.69727 13.9891 7.64805 13.9699L7.65625 14H4.59375L4.60195 13.9699C4.55273 13.9891 4.49805 14 4.44336 14H0.839453C0.377344 14 0 13.6227 0 13.1605C0 11.0961 1.41914 9.3625 3.3332 8.88398C3.55469 8.8293 3.76797 8.97422 3.82266 9.19297L4.80703 13.2098L5.72031 9.82188H5.71758Z" fill="#E8B4B8"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_2034_378">
                                        <path d="M0 0H12.25V14H0V0Z" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="text-muted">Menswear</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="bg-primary flex justify-center items-center py-4 rounded-lg">
                                <div class="flex flex-col items-center gap-2">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2034_385)">
                                        <path d="M5.03125 1.3125H8.96875C9.08906 1.3125 9.1875 1.41094 9.1875 1.53125V2.625H4.8125V1.53125C4.8125 1.41094 4.91094 1.3125 5.03125 1.3125ZM3.5 1.53125V2.625H1.75C0.784766 2.625 0 3.40977 0 4.375V7H5.25H8.75H14V4.375C14 3.40977 13.2152 2.625 12.25 2.625H10.5V1.53125C10.5 0.686328 9.81367 0 8.96875 0H5.03125C4.18633 0 3.5 0.686328 3.5 1.53125ZM14 7.875H8.75V8.75C8.75 9.23398 8.35898 9.625 7.875 9.625H6.125C5.64102 9.625 5.25 9.23398 5.25 8.75V7.875H0V11.375C0 12.3402 0.784766 13.125 1.75 13.125H12.25C13.2152 13.125 14 12.3402 14 11.375V7.875Z" fill="#E8B4B8"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_2034_385">
                                        <path d="M0 0H14V14H0V0Z" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="text-muted">Formalwear</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="flex justify-between">
                        <p class="font-bold text-3xl">
                            10.500.000
                        </p>
                        <a
                            href=""
                            class="block text-center py-2 px-6 text-white bg-linear-[90deg,#B76E79_0%,#F472B6_100%] rounded-full font-medium hover:shadow-lg transition-shadow"
                        >
                            Daftar Sekarang
                        </a>
                    </div>
                </div>
            </div>
            <div class="ring-2 ring-secondary p-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="flex justify-center items-center">
                    <img
                        src="/assets/fashion_business.png"
                        alt="fashion business and stylist"
                        class="rounded-lg"
                    >
                </div>

                <div class="p-4 space-y-4">
                    <div class="flex gap-4 items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 24H0V0H24V24Z" stroke="#E5E7EB"/>
                            <path d="M3 3C3 2.17031 2.32969 1.5 1.5 1.5C0.670312 1.5 0 2.17031 0 3V18.75C0 20.8219 1.67812 22.5 3.75 22.5H22.5C23.3297 22.5 24 21.8297 24 21C24 20.1703 23.3297 19.5 22.5 19.5H3.75C3.3375 19.5 3 19.1625 3 18.75V3ZM22.0594 7.05938C22.6453 6.47344 22.6453 5.52188 22.0594 4.93594C21.4734 4.35 20.5219 4.35 19.9359 4.93594L15 9.87656L12.3094 7.18594C11.7234 6.6 10.7719 6.6 10.1859 7.18594L4.93594 12.4359C4.35 13.0219 4.35 13.9734 4.93594 14.5594C5.52188 15.1453 6.47344 15.1453 7.05938 14.5594L11.25 10.3734L13.9406 13.0641C14.5266 13.65 15.4781 13.65 16.0641 13.0641L22.0641 7.06406L22.0594 7.05938Z" fill="#E8B4B8"/>
                        </svg>
                        <h2 class="font-bold font-playfair-display text-3xl">Fashion Business & Stylist</h2>
                    </div>
                    <p class="text-lg text-muted">
                        Program komprehensif untuk membangun bisnis fashion dan karir sebagai stylist profesional. Meliputi branding, marketing, dan teknik styling.                </p>
                    <ul class="text-muted">
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Fashion Branding</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Digital Marketing</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2034_301)">
                                <path d="M13.7047 3.29297C14.0953 3.68359 14.0953 4.31797 13.7047 4.70859L5.70469 12.7086C5.31406 13.0992 4.67969 13.0992 4.28906 12.7086L0.289062 8.70859C-0.101562 8.31797 -0.101562 7.68359 0.289062 7.29297C0.679688 6.90234 1.31406 6.90234 1.70469 7.29297L4.99844 10.5836L12.2922 3.29297C12.6828 2.90234 13.3172 2.90234 13.7078 3.29297H13.7047Z" fill="#E8B4B8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2034_301">
                                <path d="M0 0H14V16H0V0Z" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>Personal Styling</span>
                        </li>
                    </ul>
                    <div class="flex justify-between">
                        <p class="font-bold text-3xl">
                            Rp 6.000.000
                        </p>
                        <a
                            href=""
                            class="block text-center py-2 px-6 text-white bg-linear-[90deg,#B76E79_0%,#F472B6_100%] rounded-full font-medium hover:shadow-lg transition-shadow"
                        >
                            Daftar Sekarang
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>